---
const letters = [
  { char: 'D', rotate: '-2deg', x: '0px', y: '0px' },
  { char: 'E', rotate: '3deg', x: '2px', y: '-2px' },
  { char: 'A', rotate: '-4deg', x: '-1px', y: '1px' },
  { char: 'T', rotate: '2deg', x: '1px', y: '-3px' },
  { char: 'H', rotate: '-3deg', x: '-2px', y: '2px' },
  { char: 'N', rotate: '4deg', x: '1px', y: '-1px' },
  { char: 'O', rotate: '-5deg', x: '-2px', y: '0px' },
  { char: 'T', rotate: '3deg', x: '2px', y: '-2px' },
  { char: 'E', rotate: '-1deg', x: '0px', y: '1px' }
];
---
<h1 class="font-[Creepster] text-[clamp(3rem,9vw,8rem)] tracking-[0.25em] uppercase drop-shadow-[0_0_18px_rgba(209,2,18,0.35)]">
  {letters.map(({ char, rotate, x, y }) => (
    <span
      class="inline-block origin-center px-[0.06em]"
      style={`transform: translate(${x}, ${y}) rotate(${rotate});`}
    >
      {char}
    </span>
  ))}
</h1>
